@media (max-width: 9000px) {
    #event li {
        padding-left: 20%;
        padding-right: 20%;
    }
    #eventdetail li {
        padding-left: 20%;
        padding-right: 20%;
    }
    .eventinfo {
        padding-left: 15%;
        padding-right: 15%;
    }
    #event-first {
        width: 33.33%;
        float: left;
        text-align: center;
    }
    #event-first p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    #event-middle {
        width: 33.33%;
        float: left;
        text-align: center;
    }
    #event-middle p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        letter-spacing: .1rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    #event-last {
        width: 33.33%;
        float: left;
        text-align: center;
    }
    #event-last p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    .eventmain {
        padding-left: 20%;
        padding-right: 20%;
    }
    #event-description p {
        padding-left: 20%;
        padding-right: 20%;
    }
    #item li {
        width:20%;
    }
    #shop li {
        width:33.330%;
    }
    #team li {
        width:33.330%;
    }
    #aboutcontext p {
        padding-left: 25%;
        padding-right: 25%;
    }

    .artist img{
        width:50%;
        margin-right: 6em;
    }
    #shop-item {
        width:100%;
        align-content: center;
    }
    #shop-item img {
        width:51%;
    }
    .dropdown  {
        width: 12.5%;
        float:none;
    }
    .dropdown img {
        width: 100%;
    }
<<<<<<< Updated upstream
=======
    .desc {
        padding: 15px;
        text-align: center;
    }   


>>>>>>> Stashed changes
}

@media (max-width: 750px) {
    #event li {
        padding-left: 20%;
        padding-right: 20%;
    }
    #eventdetail li {
        padding-left: 15%;
        padding-right: 15%;
    }
    .eventinfo {
        padding-left: 10%;
        padding-right: 10%;
    }
    #event-first {
        width: 40%;
        float: left;
        text-align: center;
    }
    #event-first p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    #event-middle {
        width: 30%;
        float: left;
        text-align: center;
    }
    #event-middle p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        letter-spacing: .1rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    #event-last {
        width: 30%;
        float: left;
        text-align: center;
    }
    #event-last p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        letter-spacing: .1rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    .eventmain {
        padding-left: 15%;
        padding-right: 15%;
    }
    #event-description p {
        padding-left: 15%;
        padding-right: 15%;
    }
    #item li {
        width:33.33%;
    }
    #shop li {
        width:33.330%;
    }

    #aboutcontext p {
        padding-left: 15%;
        padding-right: 15%;
    }

    .artist img{
        width:100%;
        padding-right:0px;
        margin-right: 6em;
    }
    #shop-item {
        width:100%;
        float:left;
    }
    #shop-item img {
        width:100%;
    }
    .dropdown {
        width: 50%;
        float:left;
    }
    .dropdown img {
        width: 100%;
    } 
    .dropdown-content {
<<<<<<< Updated upstream
        width: 0%;
    }
=======
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .desc {
        padding: 15px;
        text-align: center;
    }   

>>>>>>> Stashed changes
}

@media (max-width: 600px) {
    #event li {
        padding-left: 0;
        padding-right: 0;
    }
    #eventdetail li {
        padding-left: 0;
        padding-right: 0;
    }
    .eventinfo {
        padding-left: 0;
        padding-right: 0;
    }
    #event-first {
        width: 100%;
        float: left;
        text-align: center;
    }
    #event-first p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-bottom: .1rem;
    }
    #event-middle {
        width: 100%;
        float: left;
        text-align: center;
    }
    #event-middle p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-bottom: .1rem;
    }
    #event-last {
        width: 100%;
        float: left;
        text-align: center;
    }
    #event-last p {
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    .eventmain {
        padding-left: 0;
        padding-right: 0;
    }
    #event-description p {
        padding-left: 0;
        padding-right: 0;
    }
    #item li {
        width:100%;
    }
    #shop li {
        width:100%;
    }

    #team li {
        width:100%;
    }
    #aboutcontext p {
        padding-left:0;
        padding-right:0;
    }
    #stylecontext p {
        padding-left:0;
        padding-right:0;
    }
    .artist img{
        width:100%;
    }
    #shop-item {
        width:100%;
        float: left;
    }
    #shop-item img {
        width:100%;
    }
    .dropdown {
        width: 50%;
        float:left;
    }
    .dropdown img {
        width: 100%;
    } 
    .dropdown-content {
<<<<<<< Updated upstream
        width: 0%;
    }
=======
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .desc {
        padding: 15px;
        text-align: center;
    }  
>>>>>>> Stashed changes
}

